/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  text-align: center;
  background-image: url('./assessts/1-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}

.m0{
  margin: 0px !important
}

.p0{
  padding: 0px !important
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  width: 70%;
  height: 90%;
  margin: auto;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
